@charset "UTF-8";

body{
    text-align: center;
}
h1{
    text-align: center;
    color: aliceblue;
    background-color:#8C6927 ;
}
h2{
    
    color: #8C6927;
    text-align: center;
}
p{
    text-align: center;
}